:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
  --md-sys-color-primary: red;
  --md-sys-color-primary-container: orange;
  --md-sys-color-secondary: blue;
  --md-sys-color-secondary-container: green;
  --md-sys-color-background: yellow;
  --md-sys-color-surface: purple;
  --md-sys-color-surface-container: pink;
  --md-sys-color-surface-container-high: white;
  --md-sys-color-surface-container-low: gray;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  color: rgb(var(--foreground-rgb));
  display: flex;
  flex: 1;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.BigChip {
  width: 200px;
  transition: width 1s !important;
}

.RegularChip {
  width: 32px;
  transition: width 0s !important;
}
